<h2>Checkbox</h2>

<section>
  <h3>Basic</h3>
  <mat-checkbox>Check me!</mat-checkbox>
</section>

<section>
  <h3>Disabled</h3>
  <mat-checkbox disabled>Disabled</mat-checkbox>
</section>

<section>
  <h3>Indeterminate</h3>
  <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
</section>

<section>
  <h3>Colors</h3>
  <mat-checkbox color="primary">Primary</mat-checkbox>
  <mat-checkbox color="accent">Accent</mat-checkbox>
  <mat-checkbox color="warn">Warn</mat-checkbox>
</section>