<h2>Buttons</h2>

<section>
  <h3>Text</h3>
  <button mat-button>Basic</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button href="https://www.google.com/" target="_blank">Link</a>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Elevated</h3>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Outlined</h3>
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Filled</h3>
  <button mat-flat-button>Basic</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Tonal</h3>
  <button mat-flat-button color="secondary">Basic</button>
  <button mat-flat-button color="secondary" disabled>Disabled</button>
  <a mat-flat-button color="secondary" href="https://www.google.com/" target="_blank">Link</a>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Icon</h3>
  <button mat-icon-button aria-label="Menu icon">
    <mat-icon>more_vert</mat-icon>
  </button>
  <button mat-icon-button disabled aria-label="Open in new tab icon">
    <mat-icon>open_in_new</mat-icon>
  </button>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Floating Action Button (FAB)</h3>
  <button mat-fab aria-label="Delete icon">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-fab disabled aria-label="Favorite icon">
    <mat-icon>favorite</mat-icon>
  </button>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Mini FAB</h3>
  <button mat-mini-fab aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-mini-fab disabled aria-label="Home icon">
    <mat-icon>home</mat-icon>
  </button>
</section>

<mat-divider></mat-divider>

<section>
  <h3>Extended FAB</h3>
  <button mat-fab extended>
    <mat-icon svgIcon="custom-favorite"></mat-icon>
    Basic
  </button>
  <button mat-fab extended disabled>
    <mat-icon svgIcon="custom-searchSet"></mat-icon>
    Disabled
  </button>
  <a mat-fab extended routerLink=".">
    <mat-icon svgIcon="custom-searchSet"></mat-icon>
    Link
  </a>
</section>

<p>That's all blocks</p><br/><br/>