.example-card {
  max-width: 500px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

/* Убираем отступы между инпутами — специфика этой карточки */
mat-card .mat-mdc-form-field {
  margin-bottom: 0;
}

.spacer {
  flex: 1 1 auto;
}